/* General Body Styling*/
body {
    font-family: arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px
}

/* Navigation bar Styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
}

/* Section Styling */
section {
    margin-bottom: 40px;
}

/* Footer styling */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}